﻿@model eClaims.Models.GridView
@using System.Data;
@{
    var clmnHeaderList = Model.GridHeaderList.Split('|').ToList();
    var bodyList = Model.GridBodyList.Split('|').ToList();
    int clmnCount = 0;
    decimal finalAmt = 0;
    string[] splitClmnHide = Model.ColumnHide.Split('|');
    int[] clmnHide = new int[0];
    if (!String.IsNullOrEmpty(Model.ColumnHide))
    {
        clmnHide = Array.ConvertAll<string, int>(splitClmnHide, int.Parse);
    }

}

<table class="table table-bordered">
    <thead>
        <tr>
            @if (Model.hasCheckbox)
            {
                <th></th>
                clmnCount++;
            }

            @for (var i = 0; i < clmnHeaderList.Count; i++)
            {
                <th @(Html.Raw(clmnHide.Contains(i) ? "style=\"display:none;\"" : ""))>@clmnHeaderList[i].ToString()</th>
                clmnCount++;

            }

            @if (Model.hasActionBtn)
            {
                <th>Action</th>
                clmnCount++;
            }
        </tr>
    </thead>
    <tbody>
            @{int j = 0;}
            @foreach (DataRow body in Model.dtGridView.Rows)
            {
                <tr>
                    @if (Model.hasCheckbox)
                    {
                        <td>
                            <input type="checkbox" name="tdCheckBox" class="clsCheckBox" row="@j"/>                          
                        </td>
                    }

                    @for (var i = 0; i < bodyList.Count; i++)
                    {
                        if (Model.GridViewID == "CL01" && bodyList[i].ToString() == "iClaimId")
                        {
                            string tdname = "row_" + j.ToString();
                            <td @(Html.Raw(clmnHide.Contains(i) ? "style=\"display:none;\"" : "")) class="@tdname" value="@Convert.ToString(body[bodyList[i].ToString()])">@Convert.ToString(body[bodyList[i].ToString()])</td>
                        }

                        else if (body.Table.Columns[i].DataType.Name == "DateTime")
                        {
                            <td @(Html.Raw(clmnHide.Contains(i) ? "style=\"display:none;\"" : ""))>@Convert.ToDateTime(body[bodyList[i].ToString()]).ToString("dd/MM/yyyy")</td>
                        }
                        else if (body.Table.Columns[i].DataType.Name == "Decimal")
                        {
                            <td @(Html.Raw(clmnHide.Contains(i) ? "style=\"display:none;\"" : ""))>@Convert.ToDecimal(body[bodyList[i].ToString()]).ToString("0.00")</td>
                        }
                        else
                        {
                            <td @(Html.Raw(clmnHide.Contains(i) ? "style=\"display:none;\"" : ""))>@Convert.ToString(body[bodyList[i].ToString()])</td>
                        }



                        if (bodyList[i].ToString() == "mnTotalAmt") /*calc finalAmt*/
                        {
                            finalAmt = finalAmt + Convert.ToDecimal(body[bodyList[i].ToString()]);
                        }
                    }


                    @if (Model.hasActionBtn)
                    {
                <td>

                    @for (int h = 0; h < Model.LinkList.Count; h++)
                    {
                        string ctrl = Model.LinkList[h].CtrlName.ToString();
                        string act = Model.LinkList[h].ActionName.ToString();
                        string[] para = Model.LinkList[h].Param.ToString().Split('&');
                        string[] paraVal = Model.LinkList[h].ParamVal.ToString().Split(',');
                        para[0] = para[0].Replace("$param", paraVal[j]);
                        string rLink = Url.Action(act, ctrl);
                        rLink = rLink + "?" + para[0].ToString();
                        <a href="@rLink.ToString()" class="badge badge-secondary">View</a>

                    }

                </td>
                    }

                    @{j++;}
                </tr>
           
            }

        @*has TotalFinalAmount*@
        @if (Model.hasTotalFinal)
        {
            <tr>
                @{
                    int clmnHideCount = clmnHide.Count();
                    clmnCount = clmnCount - 1 - clmnHideCount;
                }
                <td colspan=@clmnCount align="right"><b>Total Claims</b></td>
                <td><b>@finalAmt.ToString("0.00")</b></td>
            </tr>
        }

    </tbody>
</table>

