﻿@model eClaims.Models.ClaimInfo


<div class="page">
    <div class="page-content">
        <div class="sdk">
            <div class="sdk-container">
                <div class="sdk-main">
                    <div class="container body-content">
                        <div class="contentAndNav">
                            <div class="card">
                                <div class="card-header">
                                    @Model.pageTitle
                                </div>
                                <form action="AddClaim" method="post">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 textfield" id="rowClaimcInfo">
                                                <div class='labelMainPage'>
                                                    <span id='spanBasicInfo'>Claim Informations</span>
                                                </div>
                                                <div class='toggled_content'>
                                                    <br />

                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                    <p>
                                                                        @Html.DisplayNameFor(model => model.dtTrnDate)
                                                                        @if (Model.pageMode == 1)
                                                                        {
                                                                            <span style="color:Red;">  *</span>
                                                                        }
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                    @if (Model.pageMode == 1)
                                                                    {
                                                                        @Html.TextBoxFor(model => model.dtTrnDate, new { @class = "form-control", autocomplete = "off", @type = "date" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(model => model.dtTrnDate, new { @class = "form-control", autocomplete = "off", @readonly = "true", Value = Model.dtTrnDate.ToString("MM/dd/yyyy") })
                                                                    }

                                                                </div>
                                                            </div>
                                                            @if (Model.pageMode == 1)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12"></div>
                                                                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield" style="font-size:70%;color:red">
                                                                        @Html.ValidationMessageFor(model => model.dtTrnDate, "")
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                    <p>
                                                                        @Html.DisplayNameFor(model => model.vaCostCtr)
                                                                        @if (Model.pageMode == 1)
                                                                        {
                                                                            <span style="color:Red;">  *</span>
                                                                        }
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                    @if (Model.pageMode == 1)
                                                                    {
                                                                        @Html.DropDownListFor(model => model.iCostCtr, Model.listCostCenter, "Please Select", new { @class = "form-control" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(model => model.vaCostCtr, new { @class = "form-control", autocomplete = "off", @readonly = "true" })
                                                                    }
                                                                </div>
                                                            </div>
                                                            @if (Model.pageMode == 1)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12"></div>
                                                                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield" style="font-size:70%;color:red">
                                                                        @Html.ValidationMessageFor(model => model.iCostCtr, "")
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                    <p>
                                                                        @Html.DisplayNameFor(model => model.vaGLCode)
                                                                        @if (Model.pageMode == 1)
                                                                        {
                                                                            <span style="color:Red;">  *</span>
                                                                        }
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                    @if (Model.pageMode == 1)
                                                                    {
                                                                        @Html.DropDownListFor(model => model.iGlId, Model.listGlCode, "Please Select", new { @class = "form-control" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(model => model.vaGLCode, new { @class = "form-control", autocomplete = "off", @readonly = "true" })
                                                                    }

                                                                </div>
                                                            </div>
                                                            @if (Model.pageMode == 1)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12"></div>
                                                                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield" style="font-size:70%;color:red">
                                                                        @Html.ValidationMessageFor(model => model.iGlId, "")
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                    <p>
                                                                        @Html.DisplayNameFor(model => model.vaCurr)
                                                                        @if (Model.pageMode == 1)
                                                                        {
                                                                            <span style="color:Red;">  *</span>
                                                                        }
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                    @if (Model.pageMode == 1)
                                                                    {
                                                                        @Html.DropDownListFor(model => model.iCurr, Model.listCurrency, "Please Select", new { @class = "form-control", @onchange = "currOnchange(this);" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(model => model.vaCurr, new { @class = "form-control", autocomplete = "off", @readonly = "true" })
                                                                    }

                                                                </div>
                                                            </div>
                                                            @if (Model.pageMode == 1)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12"></div>
                                                                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield" style="font-size:70%;color:red">
                                                                        @Html.ValidationMessageFor(model => model.iCurr, "")
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                    <p>
                                                                        @Html.DisplayNameFor(model => model.mnAmount)
                                                                        @if (Model.pageMode == 1)
                                                                        {
                                                                            <span style="color:Red;">  *</span>
                                                                        }
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                    @if (Model.pageMode == 1)
                                                                    {
                                                                        @Html.TextBoxFor(model => model.mnAmount, new { @class = "form-control", @onkeypress = "return isNumberKey(this, event);", @onblur = "decOnchange(this);SumAmount();", autocomplete = "off" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(model => model.mnAmount, new { @class = "form-control", @readonly = "true", Value = Model.mnAmount.HasValue ? Decimal.Round(Model.mnAmount.Value, 2) : Decimal.Round(0, 2) })
                                                                    }
                                                                </div>
                                                            </div>
                                                            @if (Model.pageMode == 1)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12"></div>
                                                                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield" style="font-size:70%;color:red">
                                                                        @Html.ValidationMessageFor(model => model.mnAmount, "")
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                    <p>@Html.DisplayNameFor(model => model.decGST) (%)</p>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                    @if (Model.pageMode == 1)
                                                                    {
                                                                        @Html.TextBoxFor(model => model.decGST, new { @class = "form-control", @onkeypress = "return isNumberKey(this, event);", @onblur = "decOnchange(this);gstOnChange(this);SumAmount();" , autocomplete = "off" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(model => model.decGST, new { @class = "form-control", @readonly = "true", Value = Model.decGST.HasValue ? Decimal.Round(Model.decGST.Value, 2) : Decimal.Round(0, 2) })
                                                                    }

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                    <p>@Html.DisplayNameFor(model => model.mnGSTAmt)</p>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                    @if (Model.pageMode == 1)
                                                                    {
                                                                        @Html.TextBoxFor(model => model.mnGSTAmt, new { @class = "form-control", @readonly = "true" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(model => model.mnGSTAmt, new { @class = "form-control", @readonly = "true", Value = Model.mnGSTAmt.HasValue ? Decimal.Round(Model.mnGSTAmt.Value, 2) : Decimal.Round(0, 2) })
                                                                    }


                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                    <p>@Html.DisplayNameFor(model => model.decExRate) (MYR)</p>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                    @if (Model.pageMode == 1)
                                                                    {
                                                                        @Html.TextBoxFor(model => model.decExRate, new { @class = "form-control", @onkeypress = "return isNumberKey(this, event);", @onblur = "decOnchange(this)", @readonly = "true" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(model => model.decExRate, new { @class = "form-control", @readonly = "true", Value = Model.decExRate.HasValue ? Decimal.Round(Model.decExRate.Value, 5) : Decimal.Round(0, 5) })
                                                                    }

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                    <p>
                                                                        @Html.DisplayNameFor(model => model.mnTotalAmt) (MYR)
                                                                        @if (Model.pageMode == 1)
                                                                        {
                                                                            <span style="color:Red;">  *</span>
                                                                        }
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                    @if (Model.pageMode == 1)
                                                                    {
                                                                        @Html.TextBoxFor(model => model.mnTotalAmt, new { @class = "form-control", @readonly = "true" , autocomplete = "off" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(model => model.mnTotalAmt, new { @class = "form-control", @readonly = "true", Value = Model.mnTotalAmt.HasValue ? Decimal.Round(Model.mnTotalAmt.Value, 2) : Decimal.Round(0, 2) })
                                                                    }

                                                                </div>
                                                            </div>
                                                            @if (Model.pageMode == 1)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12"></div>
                                                                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield" style="font-size:70%;color:red">
                                                                        @Html.ValidationMessageFor(model => model.mnTotalAmt, "")
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                    <p>
                                                                        @Html.DisplayNameFor(model => model.vaDesc)
                                                                        @if (Model.pageMode == 1)
                                                                        {
                                                                            <span style="color:Red;">  *</span>
                                                                        }
                                                                    </p>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                    @if (Model.pageMode == 1)
                                                                    {
                                                                        @Html.TextAreaFor(model => model.vaDesc, new { @class = "form-control", autocomplete = "off" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextAreaFor(model => model.vaDesc, new { @class = "form-control", @readonly = "true" })
                                                                    }

                                                                </div>
                                                            </div>
                                                            @if (Model.pageMode == 1)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12"></div>
                                                                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield" style="font-size:70%;color:red">
                                                                        @Html.ValidationMessageFor(model => model.vaDesc, "")
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>

                                                    @if (Model.pageMode == 1)
                                                    {
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                                                                        <button type="submit" class="btn btn-secondary">Add</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                                <div class="row">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                                                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function isNumberKey(txt, evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode == 46) {
            if (txt.value.indexOf('.') === -1) {
                return true;
            } else {
                return false;
            }
        } else {
            if (charCode > 31 &&
                (charCode < 48 || charCode > 57))
                return false;
        }
        return true;
    }

    function decOnchange(input) {
        var newInp = Number(input.value).toFixed(2);
        input.value = newInp;
    }

    function gstOnChange(input) {
        // var decG = $('#txt_name').val();
        var gstRate = input.value;
        var amt = Number("0").toFixed(2);
        var gstAmt = Number("0").toFixed(2);

        if ($("#mnAmount").val() != '' || $("#mnAmount").val() != null)
            amt = $("#mnAmount").val();

        gstAmt = amt * gstRate / 100;
        $("#mnGSTAmt").val(Number(gstAmt.toString()).toFixed(2));
    }

    function currOnchange(input) {
        var fromCurr = input.options[input.selectedIndex].innerText;
        var toCurr = "MYR";
        var url = '@System.Configuration.ConfigurationManager.AppSettings["excRateUrlBase"]';
        url = url.replace("&amp;", "&");
        url = url + fromCurr + ',' + toCurr;
        $.ajax({
            type: "GET",
            url: url,
            data: {},
            success: function (result) {
                var fromRates = result.rates[fromCurr];
                var toRates = result.rates[toCurr];
                var finalRates = 1 / fromRates * toRates; // 1 EUR (Base rate) -- to MYR
                $("#decExRate").val(Number('').toFixed(5));
                $("#decExRate").val(Number(finalRates.toString()).toFixed(5));
            }
        }).done(function () {
            SumAmount();
        });

    }

    function SumAmount() {
        var exRate = Number("0").toFixed(5);
        var gst = Number("0").toFixed(2);
        var gstAmt = Number("0").toFixed(2);
        var amt = Number("0").toFixed(2);
        var tAmt = Number("0").toFixed(2);

        if ($("#decGST").val() == '' || $("#decGST").val() == null)
            $("#decGST").val(gst);
        if ($("#mnGSTAmt").val() == '' || $("#mnGSTAmt").val() == null)
            $("#mnGSTAmt").val(gstAmt);
        if ($("#mnAmount").val() == '' || $("#mnAmount").val() == null)
            $("#mnAmount").val(amt);
        if ($("#mnTotalAmt").val() == '' || $("#mnTotalAmt").val() == null)
            $("#mnTotalAmt").val(tAmt);

        amt = Number($("#mnAmount").val()).toFixed(2);
        exRate = Number($("#decExRate").val()).toFixed(5);
        gstAmt = Number($("#mnGSTAmt").val()).toFixed(2);
        //tmt = (amt + gstAmt) * exRate; parseFloat('2.3') + parseFloat('2.4')
        tmt = (parseFloat(amt) + parseFloat(gstAmt)) * parseFloat(exRate);
        $("#mnTotalAmt").val(Number('').toFixed(2));
        $("#mnTotalAmt").val(Number(tmt.toString()).toFixed(2));
    }


</script>
