﻿@model eClaims.Models.GlobalModel


<div class="page">
    <div class="page-content">
        <div class="sdk">
            <div class="sdk-container">
                <div class="sdk-main">
                    <div class="container body-content">
                        <div class="contentAndNav">
                            <div class="card">
                                <div class="card-header">
                                    @Model.clsPageInfo.pageTitle
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 textfield" id="rowClaimcInfo">
                                            <div class='labelMainPage'>
                                                <span id='spanBasicInfo'>User Informations</span>
                                            </div>
                                            <div class='toggled_content'>
                                                <br />

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                <p>@Html.DisplayNameFor(model => model.clsUserInfo.vaFullName)<span class="asterisk" style="color:Red; display:none;">*</span></p>
                                                            </div>
                                                            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                @Html.TextBoxFor(model => model.clsUserInfo.vaFullName, new { @class = "form-control", autocomplete = "off", @readonly = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                <p>@Html.DisplayNameFor(model => model.clsUserInfo.vaBranchCode)<span class="asterisk" style="color:Red; display:none;">*</span></p>
                                                            </div>
                                                            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                @Html.TextBoxFor(model => model.clsUserInfo.vaBranchCode, new { @class = "form-control", autocomplete = "off", @readonly = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                <p>@Html.DisplayNameFor(model => model.clsBankInfo.vaBankCode)<span class="asterisk" style="color:Red; display:none;">*</span></p>
                                                            </div>
                                                            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                @Html.TextBoxFor(model => model.clsBankInfo.vaBankCode, new { @class = "form-control", autocomplete = "off", @readonly = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                <p>@Html.DisplayNameFor(model => model.clsBankInfo.vaBankAccNo)<span class="asterisk" style="color:Red; display:none;">*</span></p>
                                                            </div>
                                                            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                @Html.TextBoxFor(model => model.clsBankInfo.vaBankAccNo, new { @class = "form-control", autocomplete = "off", @readonly = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 textfield add-colon">
                                                                <p>@Html.DisplayNameFor(model => model.clsBankInfo.vaBankAccName)<span class="asterisk" style="color:Red; display:none;">*</span></p>
                                                            </div>
                                                            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 textfield">
                                                                @Html.TextBoxFor(model => model.clsBankInfo.vaBankAccName, new { @class = "form-control", autocomplete = "off", @readonly = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 textfield">
                                                        <div class="row">

                                                        </div>
                                                    </div>
                                                </div>

                                                <br />

                                                @{
                                                    Html.RenderAction("GridView", "Partial");
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
