﻿body, .form-control, .btn {
    font-family: frutiger45_light, "Helvetica Neue", Arial, sans-serif !important;
    /* font-weight: 100 !important;
    font-size: 16px !important;*/
    font-size: 90% !important;
}

.card-header {
    background-color: #006 !important;
    color: #FFF !important;
    padding: 10px 0 10px 20px;
    margin-left: 0;
    min-height: 34px;
    border-radius: 0;
    font-family: frutiger45_light, "Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 22px;
}

.card-body {
    border-radius: 0;
}

.labelMainPage {
    font-weight: bold;
    font-size: 15px;
    color: #000066;
    background-color: #FFFFFF;
    border-bottom: solid 2px #000066;
}

.textfield {
    margin-bottom: 4px !important;
}

.form-control {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    transition: border-color .15s ease-in-out;
    border-image: none;
    width: 100%;
    height: 40px;
    color: #3e3e3e;
    display: block;
    background-image: none;
    background-color: #fff;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
}

@media (min-width:992px) {
    .add-colon:after {
        content: ":";
        position: absolute;
        right: 0;
        bottom: 10px;
    }
}


/*grid*/

.table thead {
    background-color: #006;
    color: #FFF;
}